<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/header.css">
  <title>ログイン/MyCoffee</title>
</head>

<body>
  <div class="login_page">
    <div class="login_img">
      <img src="/img/login_page.png" alt="ログインページ写真">
    </div>

    <div class="login_form">

      <div class="form_head">
        <img src="" alt="ログインフォームロゴ">
        <span>sign in</span>
        <div th:if="${param.loggedOut}">
          <p>ログアウトしました</p>
        </div>
        <div th:if="${param.error}">
          <p>メールアドレスまたはパスワードが正しくありません。</p>
        </div>
      </div>

      <form class="form_body" th:action="@{/login}" method="post">

        <div class="form_box">
          <p>e-mail</p>
          <input type="text" name="username" id="username" autocomplete="email" placeholder="メールアドレス" autofocus>
        </div>
        
        <div class="form_box">
          <p>password</p>
          <input type="text" name="password" id="password" autocomplete="current-password" placeholder="パスワード">
        </div>

        <button type="submit">login</button>
      </form>

      <a th:href="@{/signUp}">新規登録はこちら</a>
      <a href="">パスワードを忘れた方はこちら</a>

    </div>
  </div>
</body>

</html>