<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/header.css">
  <title>ログイン/MyCoffee</title>
</head>

<body>
  <div class="signUp">

    <div class="regist_form">

      <form class="form_body" enctype="multipart/form-data" th:action="@{/signup}" th:object="${signupForm}"
        method="post">

        <div class="form_head">

          <div style="margin-bottom: 1em">
            <label for="img">アイコンを設定</label><br>
            <input th:field="*{img}" id="input_img" type="file" accept="image/jpeg, image/png">
          </div>

          <div>
            <!-- ユーザーアイコンをプレビュー -->
            <img src="/img/default_icon.jpg" id="preview" style="display: none; max-width: 40%;" alt="">
          </div>
        </div>

        <div class="form_box">
          <label for="name">ユーザー名:必須</label>
          <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
          <input type="text" th:field="*{name}" autocomplete="name" placeholder="ユーザー名を入力" autofocus>
        </div>

        <div class="form_box">
          <label for="email">email:必須</label>
          <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
          <input type="text" th:field="*{email}" autocomplete="email" placeholder="メールアドレスを入力">
        </div>

        <div class="form_box">
          <label for="password">パスワード:必須</label>
          <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
          <input type="password" th:field="*{password}" autocomplete="new-password" placeholder="パスワード">
        </div>

        <p th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}"></p>

        <div class="form_box">
          <label for="passwordConfirmation">パスワード(確認用):必須</label>
          <div th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}"></div>
          <input type="password" th:field="*{passwordConfirmation}" autocomplete="current-password" placeholder="パスワード">
        </div>

        <button type="submit">登録</button>

      </form>


    </div>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
    <script src="/js/img_preview.js"></script>
</body>

</html>