* {
  margin: 0;
  padding: 0;
}

.menu {
  background-color: #5599c78c;
  text-align: center;
  color: #f5f5f5;
}

.menu ul li {
  display: inline-block;
  width: 120px;
  margin: 0px 50px;
  padding: 20px 0px;
  cursor: pointer;
}

.menu ul li a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 600;
}

.active:hover,
.menu ul li:hover{
  background-color: #ffffff7c;
}

.sub_menu {
  display: none;
  position: absolute;
  margin-top: 20.5px;
  background-color: #5599c78c;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu ul li:hover .sub_menu{
  display: block;
}


.sub_menu ul li {
  display: block;
  width: 150px;
  border-bottom: 1px dotted white ;
}

.sub_menu ul li:last-child {
  border: none;
}