.messageContent {
    background-color: lightblue;
    position: absolute;
    margin: 0px, auto;
    animation: fafeOut 1.5s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-5%);
    }
}