* {
    animation: fadeOut 1s ease-in-out;
    background-color: #fefefe;
    font-family: Calibri, Noto Sans JP, Helvetica Neue, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
        transform: translateY(1%);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

main {
    margin-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    border: 2px solid #5e5e5e60;
    /* box-shadow: 2px 2px 4px gray; */
    width: 70%;
    margin: 100px auto;
}

a {
    text-decoration: none;
    color: #101010;
    display: inline-block;
    margin-top: 50px;
    margin-left: 15%;
    font-size: larger;
}

h2 {
    width: 70%;
    margin: 50px auto 0px auto;
    text-align: left;
    /* border-bottom: #888888 1px solid; */
}

form {
    width: 70%;
    margin: 30px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

label,
span{
    font-size: larger;
    text-align: left;
    font-weight: 600;
    margin-left: 10px;
}

span {
    font-weight: 100;
    font-size: 13px;
    margin-top: 10px;
}

input,
button {
    display: inline-block;
    width: 60%;
    height: 38px;
    margin: 10px;
    border: 1px solid #1010102d;
    border-radius: 4px;
    background-color: #fcfcfc;
}

button {
    width: 15%;
    background-color: #202020;
    color: #fcfcfc;
}

button:hover {
    background-color: #fcfcfc;
    color: #202020;
    transition: 0.3s;
}

.border {
    border-bottom: 1px solid #1010102d;
    margin: 0px auto 0px auto;
    width: 70%;
    height: 5px;
    padding: 3px;
}

p {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

@media (max-width:700px){

    main {
        width: 100px;
    }
    
}