* {
    animation: fadeOut 1s ease-in-out;
    background-color: #fefefe;
    font-family: Calibri, Noto Sans JP, Helvetica Neue, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
        transform: translateY(1%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

a {
    text-decoration: none;
    color: #101010;
    display: inline-block;
    margin-top: 50px;
    margin-left: 25%;
    font-size: larger;
}

form {
    margin: 50px auto;
    width: 50%;
}

.formBody {
    padding: 50px;
    border: 1px solid #1010102d;
    border-radius: 0.375rem;
}

.formBox {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.formBox>div {
    color: tomato;
    margin-top: 2px;
}


/* タイトル */
h2 {
    width: 70%;
    margin: 50px auto 0px 10px;
    text-align: left;
    border-bottom: #888888;
}

.border {
    border-bottom: 1px solid #1010102d;
    margin: 0px auto 50px 10px;
    width: 70%;
    height: 5px;
}

/* アイコン設定 */
img {
    min-width: 150px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

input[type='file'] {
    display: block;
    color: #1f2937;
    cursor: pointer;
    border: 1px solid #1010102d;
    border-radius: 0.375rem;
    padding-right: 0.5rem;
    width: 90%;
    height: 35px;
}

::-webkit-file-upload-button {
    background-color: #d1d5db;
    color: #1f2937;
    border: none;
    cursor: pointer;
    border-right: 1px solid #1010102d;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    height: 35px;
    font-size: small;
}

::-webkit-file-upload-button:hover {
    background-color: #e6e8eb;
}

label {
    font-weight: 500;
}

span {
    background-color: tomato;
    color: #fcfcfc;
    padding: 2px;
    border-radius: 20%;
    margin-left: 10px;
}

input[type=text],
input[type=password],
button {
    display: block;
    width: 90%;
    height: 35px;
    margin: 10px 0px;
    border: 1px solid #1010102d;
    border-radius: 4px;
    background-color: #fcfcfc;
}

button {
    width: 15%;
    background-color: #fcfcfc;
    color: #202020;
}

button:hover {
    background-color: #202020c2;
    color: #fcfcfc;
    transition: 0.3s;
}

@media (max-width:700px){

    main,
    form {
        width: 90%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
}