<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/header.css">
  <title>ホーム/MyCoffee</title>
</head>

<body>
  <header>
    <div class="menu">
      <ul>
        <li class="active"><a th:href="@{/}">logo</a></li>
        <li>
          <form type="search" method="get" th:action="@{/search}" >
            <input type="text" name="beanSearch" placeholder="豆の種類を入力" required>
            <button class="btn">検索</button>
          </form>
        </li>
        <li>アイコン
          <div class="sub_menu">
            <ul>
              <li><a th:href="@{/mypage/{id}(id = ${user.id})}">マイページ</a></li>
              <li><a th:href="@{/Favorite/{id}(id = ${user.id})}">ブックマーク</a></li>
              <li>
                <a th:href="@{/logout}"
                  onclick="event.preventDefault(); document.getElementById(logout-form).submit();">ログアウト
                </a>
                <form id="logout-form" th:action="@{/logout}" method="post"></form>
              </li>
            </ul>
          </div>
        </li>
        <li><a th:href="@{/createRecipe/{id}(id = ${user/id})}">レシピ追加</a></li>
      </ul>
    </div>
  </header>

  <main>
    <h3>ユーザー名</h3>
    <h3 th:text="${user.name}"></h3>

    <h5>【recipe一覧】</h5>

    <div class="menu_list">
      <ul>
        <div:block th:each="rl:${recipeList}" class="listpackage">
          <li>
            <img th:src="@{/user_icon/{img}(img=${user.img})}" alt="ユーザーアイコン">
            <span th:text="${rl.bean.name}">豆の名前</span>
            <span th:text="${rl.beanWeight}">豆の量</span>
            <span th:text="${rl.waterVolume}">水の量</span>
            <span th:text="${rl.waterTemp}">水温</span>

            <a th:href="@{/edit/{rlId}/{userId}(rlId = ${rl.id}, userId = ${user.id})}">
              <input type="button" value="編集">
            </a>

            <a th:href="@{/delete/{rlId}/{userId}(rlId = ${rl.id}, userId = ${user.id})}">
              <input type="button" id="delete" value="削除">
            </a>
          </li>
        </div:block>
    </div>
    </ul>
    </div>
  </main>

</body>

</html>