<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/header.css">
  <title>マイページ- BrewShare</title>
</head>

<body>

  <!-- headerを挿入 -->
  <header th:replace="~{/htmlComponent/header :: header}"></header>

  <main>
    <h3>ユーザー名</h3>
    <h3 th:text="${user.name}"></h3>

    <h5>【マイページ】</h5>

    <div class="menu">
      <div class="iconImg">
        <img th:src="@{/user_icon/{img}(img=${user.img})}" id="preview" alt="ユーザーアイコン" width="150" />
        <a th:href="@{/changeIcon}">アイコンを更新</a>
      </div>

      <div class="content">
        <span id="userName" th:text="${user.name}"></span>
        <button id="openModal">ユーザー名編集</button>
      </div>

      <div class="content">
        <span th:text="'メールアドレス:' + ${user.email}"></span>
      </div>

      <div class="content">
        <a th:href="@{/updataPw}">パスワード再設定</a>
      </div>

      <div class="content">
        <span>アカウント削除</span>
        <a th:href="@{/deleteAccount}">
          <button>削除</button>
        </a>
      </div>

    </div>

    <!-- 名前更新モーダル -->
    <div class="modal" id="modal" style="display: none;">

      <form th:action="@{/changeName}" method="post">
        <button id="closeModal">&times;</button>
        <input type="text" name="editName" id="editName" th:value="${user.name}">
        <button type="submit">更新</button>
      </form>

    </div>

  </main>
  <script id="iconImg" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
  <script src="/js/img_preview.js"></script>
  <script>
    // 名前更新用モーダル
    $("#openModal").on("click", function () {
      $("#modal").show();
    })

    $("#closeModal").on("click", function () {
      $("#modal").hide();
    })

  </script>

  <script>
    function reloadUserIcon() {
      let imgElement = document.getElementById("preview");
      let imgUrl = imgElement.src.split("?")[0]; // 元のURLを取得
      imgElement.src = imgUrl + "?t=" + new Date().getTime(); // タイムスタンプを付与して更新
    }

    document.addEventListener("DOMContentLoaded", reloadUserIcon);
  </script>




</body>

</html>