<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/header.css">
  <title th:text="'「' + ${searchName} + '」の検索結果 - BrewShare'"></title>
</head>

<body>

  <!-- headerを挿入 -->
  <header th:replace= "/index :: header"></header>

  <main>
    <h3>ユーザー名</h3>
    <h3 th:text="${user.name}"></h3>

    <h5>【recipe一覧】</h5>

    <div class="menu_list" th:replace = "/index :: recipeList">
    </div>
  </main>

</body>

</html>