<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/header.css">
  <title>ホーム - BrewShare</title>
</head>

<body>

  <div class="menu_list" th:fragment="recipeList">
    <ul>
      <div:block th:each="rl:${recipeList}" class="listpackage">

        <li>
          <img th:src="@{/user_icon/{img}(img=${rl.user.img})}" alt="ユーザーアイコン" width="100">
          <span>ユーザー名</span>
          <span th:text="${rl.user.name} ?: '未入力'"></span>

          <span>豆の名前</span>
          <span th:text="${rl.bean.name} ?: '未入力'"></span>

          <span>豆の量</span>
          <span th:text="${rl.beansWeight != null ? rl.beansWeight + 'g' : '未入力'}"></span>

          <span>水の量</span>
          <span th:text="${rl.waterVolume != null ? rl.waterVolume + 'ml' : '未入力'}"></span>

          <span>水温</span>
          <span th:text="${rl.waterTemp != null ? rl.waterTemp + '℃' : '未入力'}"></span>


          <a th:if="${rl.isSameUser}" th:href="@{/edit/{rlId}/{userId}(rlId = ${rl.id}, userId = ${rl.user.id})}">
            <input type="button" value="編集">
          </a>

          <a th:if="${rl.isSameUser}" th:href="@{/delete/{rlId}/{userId}(rlId = ${rl.id}, userId = ${rl.user.id})}">
            <input type="button" id="delete" value="削除">
          </a>

          <!-- コメントの通知 -->
          <span th:if="${rl.isSameUser && !rl.isView}" style="color: lightblue;">コメントはありません</span>
          <span th:if="${rl.isSameUser && rl.isView}" style="color: tomato;">コメントがあります</span>
          
          <!-- レシピの詳細表示ボタン -->
          <a th:href="@{/RecipeDetails/{rlId}(rlId = ${rl.id})}">
            <input type="button" id="delete" value="詳細確認">
          </a>
          
          <!-- ブックマーク表示切替 -->
          <form id="fov_${rl.id}" th:if="${!rl.isSameUser && rl.isFav}" th:action="@{/Favorite/{rlId}(rlId=${rl.id})}" method="post" recipeData="${rl.id}">
            <input type="submit" id="FavTrue_${rl.id}" value="fav中" style="background-color: tomato;">
          </form>

          <form id="fov_${rl.id}" th:if="${!rl.isSameUser && !rl.isFav}" th:action="@{/Favorite/{rlId}(rlId=${rl.id})}" method="post" recipeData="${rl.id}">
            <input type="submit" id="FavFalse_${rl.id}" value="favなし" style="background-color: lightblue;">
          </form>


        </li>
      </div:block>
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/fav.js"></script>
  </div>

  </main>

</body>

</html>